.Input {
  width: 100%;
  display: block;
  // max-width: calc(100%);
  position: relative;
  // overflow: hidden;
  padding: 6px 0 15px;  
  box-sizing: border-box;
  cursor: pointer;

  @media(min-width: 450px) {
    max-width: 380px;
  }

  &__label {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    color: var(--field-helper-text);
    position: absolute;
    top: 0;
    left: 14px;
    background-color: transparent;
    padding: 0 3px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid var(--field-border-enabled);
    height: 54px;
    padding: 14px 16px;
    border-radius: var(--field-radii);
    box-sizing: border-box;
    background-color: transparent;
    color: var(--black);
    outline: none;

    &::placeholder {
      // color: var(--field-helper-text);
    }

    &:focus, &:active {
      border: 1px solid var(--field-border-enabled);
    }   
  }

  &__helpers {

  }

  &__error-container {
    border: 1px solid red;
    position: absolute;
    z-index: 5000;
    top: 62px;
    // max-width: 380px;
  }

  &__error {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    color: var(--error-color);
    // bottom: -2px;
    // left: 14px;
    background-color: transparent;
    padding: 0 16px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
  }
}