.Input {
  width: 100%;
  position: relative;
  padding: 6px 0 15px;  
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;

  @media(min-width: 412px) {
    max-width: 380px;
  }

  &__label {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    color: var(--field-helper-text);
    position: absolute;
    top: 0;
    left: 14px;
    background-color: transparent;
    padding: 0 3px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid var(--field-border-enabled);
    height: 54px;
    padding: 14px 16px;
    border-radius: var(--field-radii);
    box-sizing: border-box;
    background-color: transparent;
    color: var(--black);
    outline: none;

    &::placeholder {
      // color: var(--field-helper-text);
    }

    &:focus, &:active {
      border: 1px solid var(--field-border-enabled);
    }

    
  }

  &__helpers {

  }

  &__error {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    color: var(--error-color);
    position: absolute;
    bottom: -2px;
    left: 14px;
    background-color: transparent;
    padding: 0 3px;
    cursor: pointer;
  }
}