.Input {
  width: 100%;
  max-width: 380px;
  display: block;
  position: relative;
  padding: 0;  
  box-sizing: border-box;

  &__label {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    color: var(--field-color-placeholder);
    background-color: var(--bg-color);
    position: absolute;
    top: -7px;
    left: 11px;
    padding: 0 4px;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid var(--field-border-enabled);
    height: 54px;
    padding: 14px 16px;
    border-radius: var(--field-radii);
    box-sizing: border-box;
    background-color: transparent;
    color: var(--black);
    outline: none;
    cursor: pointer;

    &::placeholder {
      // color: var(--field-color-placeholder);
    }

    &:focus, &:active {
      border: 1px solid var(--field-border-enabled);
      cursor: default;
    }

    &--error {
      border: 2px solid var(--field-color-border-error);
    }
  }

  &__helpers:hover {
    cursor: default;
  }

  &__error-container {
    position: absolute;
    z-index: 5000;
    top: 58px;
  }

  &__error, &__helpers {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    color: var(--error-color);
    background-color: transparent;
    padding: 0 16px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
  }

  &__helpers {
    color: var(--field-color-placeholder);
  }
}