.List {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  @media(min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 29px;
  }
}