@import './../../style/mixins.scss';

.ArticleGet {
  min-height: 100vh;
  display: flex;
  align-items: center;


  &__content {
    // border: 1px solid red;
  }

  &__title {
    @include title-of-section;
  }

  &__button-container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding-top: 54px;
    padding-bottom: 50px;
  }

  @media(min-width: 768px) {
    min-height: 0;

    &__button-container {
      padding-top: 50px;
    }
  }
}
