.Card {
  height: 254px; 
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--card-br);
  padding: 20px;
  box-sizing: border-box;
  
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  overflow: hidden;
  text-align: center;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__photo {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 20px;
  }
  
  &__position {
  }
  
  &__email-container {
    position: relative;
  }

  &__email {
    
    cursor: pointer;
    & a {
      text-decoration: none;
      color: var(--black);
    }
    
    &--hovered {
      top: 0;
      left: 0;
      position: fixed;
      overflow: visible;
      width: auto;
      background-color: var(--black);
      padding: 3px 16px;
      border-radius: var(--button-radii);
      
      color: var(--white);
    }
    
    &--hover {
      overflow: visible;
      position: absolute;
      bottom: 10px;
      left: 100px;
      z-index: 50;
      visibility: hidden;
    }
    
    &:hover &--hover {
      visibility: visible;
    } 
  }
  
  &__phone {
    
  }
  
  &__email, &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    // text-decoration-thickness: auto;
    // text-size-adjust: 100%;
  }
}