.Header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 9999;
  
  &__container{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    // @media (min-width: 380px) {
      // }
  }
    
  &__logo {
  }
    
  &__nav {
    // border: 1px solid red;
  }
  
  &__button {
    margin-left: 5px;
  }
}