.Header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  
  z-index: 9999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  
  &__container{
    background-color: red;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
  }
    
  &__logo button {
    border: none;
    background-color: inherit;
    transform: translateY(3px);
    background-color: white;
  }
    
  &__nav {
    display: flex;
    gap: 0.2rem;

    @media(min-width: 768px){
      gap: 1rem; 
    }
  }
}
