.Header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  
  &__container{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__logo {
  }

  &__nav {
  }
  
  &__button {
    margin-left: 10px;
  }
}