.Wrapper {
  width: 100%;
  padding: 0 16px 0 16px;
  box-sizing: border-box;

  @media(min-width: 768px){
    padding: 0 32px 0 32px; 
  }

  @media(min-width: 1024px){
    padding: 0 60px 0 60px;
  }

  @media(min-width: 1170px){
    padding: 0;
  }
}