@import './../../style/titleOfSection.scss';

.ArticlePost {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__anchor {
    position: absolute;
    top: 0;
  }

  &__content {
    padding-bottom: 20px;
  }

  &__title {
    @include title-of-section;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  @media(min-width: 1024px) {
    height: auto;
  }

  @media(max-height: 900px) {
    &__anchor {
    }

    &__content {
    
    }
  }
}
