@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-h1: 40px;

  --fw-normal: 400;
  --lh-sm: 14px;
  --lh-md: 26px;
  --lh-h1: 40px;

  /* Other */
  --radii: 4px;


  --yellow: #F4E041;
  --blue: #00BDD3;
  --light-grey: #F8F8F8;
  --bg-color: #E5E5E5;
  --white: #FFFFFF;
  
  /* UI */
  --button-color: rgba(0, 0, 0, 0.87);
  --button-primary-bg: #F4E041;
  --button-hover-bg: #FFE302;
  --button-disabled-bg: #B4B4B4;
  --button-disabled-color: rgba(255, 255, 255, 0.87);
  --button-br: 80px;
  
  --field-border-enabled: #D0CFCF;
  --field-helper-text: #7E7E7E;
  --field-border-error: rgba(203, 61, 64, 1);
  --error-color: #CB3D40;
}

body {
  background-color: var(--bg-color);
}

