.HomePage {

  &__title {
    padding: 140px 0 50px;
    font-size: var(--fs-h1);
    font-weight: var(--fw-normal);
    color: var(--black);
    text-align: center;
    margin: 0 auto;

    @media(max-width: 768px) {
      width: 320px;
    }

  }

  &__button {
    border: 1px solid green;
    margin: 0 auto;
  }
}
